
.video-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 40px; 
	/*Inheritance, passes down properties to inner elemnts, mostly text.*/
}

/*Applies the CSS stated below when the screensize is 
lower than 600px, this is responsive design*/
@media (max-width: 750px){
	.video-grid{
		grid-template-columns: 1fr 1fr
	}
}

/*Applies the CSS stated below when the screensize
is 750px > x > 1000px */
@media (min-width: 751px) and (max-width: 999px) {
	.video-grid{
		grid-template-columns: 1fr 1fr 1fr
	}
}


/*Applies the CSS stated below when the screensize is 
greater than 1000px*/
@media (min-width: 1000px){
	.video-grid{
		grid-template-columns: 1fr 1fr 1fr 1fr
	}
}

.thumbnail{
	width: 100%;
}

.video-title{
	margin-top: 0px;
	font-family: Roboto,Arial;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 10px;
}

.video-author,.video-stats{
	display: block;
	font-family: Roboto,Arial;
	font-size: 12px;
	color: rgb(96, 96, 96)
}

.video-author{
	margin-bottom: 4px;
}

.video-info-grid{
	display: grid;
	grid-template-columns: 50px 1fr;
}

.profile-picture{
	width: 36px;
	border-radius: 50px;
	
}

.thumbnail-row{
	margin-bottom: 8px;
	position: relative;
}

.video-time{
	background-color: black;
	color: white;
	position: absolute;
	bottom: 8px;
	right: 10px;
	font-family: Roboto,Arial;
	font-size: 12px;
	font-weight: 500;
	padding: 4px; /* 4 paddings in one, can select 2 or 4 in one line, depens on the syntax. Applies to margins, as well.*/
	border-radius: 2px;
}
